* {
    margin: 0;
}

body {
    background-color: rgba(35, 37, 44, 1);
    padding: 45px 116px 45px 116px;
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
}

main {
    background-color: rgba(26, 27, 33, 1);
    width: 317px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}